.home {
    width: auto;
    height: 60svh;
    background-color: transparent;
    padding-top: 5%;
    &__image {
        width: 100%;
        min-height: 350px;
        max-height: 500px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .45);
    }
}