.footer { 
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    &__link { 
        font-size: 1rem;
        color: #F28705;
        &:hover { 
            color: #F2DA91;
            transition: 0.3s ease;
        }
    }
}